@model Kalkulator_Kalorii.Models.LoginUser
@{
    ViewBag.Title = "Zaloguj się";
}

<div class="center-block">
    <h2>Logowanie</h2>

    @using (Html.BeginForm())
    {

        <div>
            @Html.DisplayNameFor(m => m.username)
        </div>
        <div>
            @Html.EditorFor(m => m.username)
        </div>
        <div>
            @Html.DisplayNameFor(m => m.password)
        </div>
        <div>
            @Html.EditorFor(m => m.password)
        </div>
        <br />

        <input type="submit" value="Zaloguj się" class="link" />

    }
</div>
