@model Kalkulator_Kalorii.Models.UserPPM
@{
    ViewBag.Title = "PPM";
}

<h2>Twoja Podstawowa Przemiana Materii</h2>

<div>
    @Html.DisplayNameFor(model => Model.ppm) : @Html.DisplayFor(model => Model.ppm) kcal
</div>

