@model Kalkulator_Kalorii.Models.UserLorentz
@{
    ViewBag.Title = "Wzór Lorentza";
}

    <h2>Twoja należna masa ciała</h2>
    <div>
        @Html.DisplayNameFor(model => Model.lorentz) : @Html.DisplayFor(model => Model.lorentz) kg
    </div>

